<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Celery-Django</a>
        </div>
        <p style="font-size:1.1em">Hi,there</p>
        <p>Bonjour! Greetings from Rushi Patel 🥳🤩 ,We made it</p>
        <br>
        <ul style="color:#00466a;">
            <li>✨Checkout my gihub profile <a style="text-decoration: none;" href="https://github.com/Developer-R-7">Developer-R-7</a></li>
            <li>✨Get Connected with me on LinkedIn <a style="text-decoration: none;" href="https://www.linkedin.com/in/rushi-patel-5a5b951ba/">Rushi Patel</a></li>
        </ul>
        <hr style="border:none;border-top:1px solid #eee" />
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p>Rushi Patel</p>
        </div>
    </div>
  </div>